@model BudgetApp.Models.ViewModels.TransactionCategoryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="indexPage">
    <h1>Categories</h1>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="create-category-modal"
                data-bs-target="#createCategoryModal" data-url="@Url.Action("Create", "Category")">Add Category
        </button>
    </p>


    <table class="table table-hover table-striped table-bordered rounded-3 overflow-hidden">
        <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody class="text-center">
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category.Type)
                </td>
                <td>
                    <button class="btn btn-info" data-toggle="edit-category-modal" data-bs-target="#editModal"
                            data-url="@Url.Action("Edit", "Category", new { id = category.CategoryId })"><i
                            class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="delete-category-modal" data-bs-target="#deleteModal"
                            data-url="@Url.Action("Delete", "Category", new { id = category.CategoryId })"><i
                            class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="createCategoryModalPlaceholder"></div>
<div id="editCategoryModalPlaceholder"></div>
<div id="deleteCategoryModalPlaceholder"></div>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}