@model BudgetApp.Models.TransactionViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="indexPage">
    <h2>Transaction History</h2>

    <p>
        <a buton class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create New</a>
    </p>

    <form asp-controller="Transaction" asp-action="Index" method="get">
        <p>
            <select asp-for="TransactionCategory" asp-items="Model.TransactionCategories">
                <option value="">All Categories</option>
            </select>

            <label>Transaction: <input type="text" asp-for="SearchString"/></label>
            <input type="submit" value="Filter"/>
        </p>
    </form>

    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Category.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Amount)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Category.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => transaction.Amount)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                    <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#detailModal"
                       onclick="loadTransactionDetails(@transaction.Id)" asp-action="DetailsPartial"
                       asp-route-id="@transaction.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@transaction.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_DetailsModalPartial", Model.Transaction); }
    @{ await Html.RenderPartialAsync("_CreateModalPartial", Model.Transaction); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}